*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* overflow: hidden; */
}
/* global */
body{
 background-color: #ebf2ff;
 font-family: Merriweather;
}
.button-primary{
border: none;
 padding: 5px;
 font-size: 1.2rem;
 color: #ebf2ff;
 background-image: linear-gradient(to right,
   #ff512f 10%,
   #f7056a 20%,
   #ff512f 50%);
 border-radius: 5px;
 cursor: pointer;
}
/*end global */
.navbar{
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #fff;
}
.navbar_brand{
 width: 100px;
}
.navbar_logo{
width: 100%;
}
.nav_item{
 
}
/* hero */
.container{
 width: 100%;
 margin: 0 auto;
 padding: 10px 15px;
}
.hero {
 width: 100%;
}
.hero-image{
 width: 100%;
}
.hero-image-container{
 width: 100%;
 position: relative;
}
.hero-text{
  font-size: 30px;
  margin: 10px 0;
}

/* .hero-bg {
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -3;
  transform: skewY(-5deg);
  position: absolute;
  background-image: linear-gradient(to right,
        #ff512f 10%,
        #f7056a 50%,
        #ff512f 60%);
} */
/* end hero */
/* menu */
.menu-container{
  margin-top: 60px;
}
.explore-menu{
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  text-transform: capitalize;
  }
  .menu-button{
    display: flex;
    justify-content: center;
  }
.food-image{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.menu-card {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.menu-description {
    margin-left: 15px;
   }
   .menu-restaraunts{
      font-size: 20px;
    }
/* end menu */
/* restaurants */

.restaurant-container{
  margin-top: 50px;
}
.restaurant-list {
  margin-top: 30px;
}
 .restaurant-1,
 .restaurant-4 {
   width:100%;
   height: 150px;
 }
 .restaurant-2,
 .restaurant-3 {
    width: 100%;
   height: 250px;
 }
.restaurant-row1 {
  align-items: baseline;
  margin-bottom: 4px;
}
 .restaurant-row1,
 .restaurant-row2 {
   width: 100%;
   display: flex;
   gap: 5px;
 }
.restaurant1,.restaurant2,.restaurant3,.restaurant4{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.restaurant-text{
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}
/* end restaurants */
@media (min-width:768px){
 .navbar{
  justify-content: space-between;
  padding: 10px 20px;
 }
 .nav_item{
  font-size: 30px;
  padding: 10px 20px;
 }
 .navbar_brand{
  width: 180px;
  }
  /* hero */
    .hero {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
    justify-content: space-between;
    gap: 10px;
    }
    /*end  hero */
    /* menu */
    .menu-list{
      display: flex;
      margin-top: 30px;
    }
    .menu-card{
      margin: 10px;
    }
    .menu-container{
      position: relative;
      
    }
    .explore-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -3;
      transform: skewY(-5deg);
      background-image: linear-gradient(to right,
            #ff512f 10%,
            #f7056a 20%,
            #ff512f 50%);
            left: 0;
            top: 0;
    }
    .explore-menu{
      
      font-size: 50px;
    }
    .middleimage{
      margin-top: -20px;
      margin-bottom: 30px;
    }
     /* end menu */
    /* restaurant */
    /* 
    .restaurant-text{
      text-align: center;
    } */
   
                                                  
  /*end restaurant */
                                              
}
@media (min-width:1020px) {
 /* hero */
 .container{
  max-width: 900px;
 }
    .hero-text {
      font-size: 50px;
    }
 
  /*end  hero */
  /* restaurant */
  .restaurant-container{
      display: flex;
      align-items: center;
    }
  .restaurant-text{
      font-size: 50px;
      text-align: center;
    }
    /* end restaurant */

}
@media (min-width:1400px) {
.container {
    max-width: 1200px;
  }
}