*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 overflow: hidden;
}
/* global */
body{
 background-color: #ebf2ff;
 font-family: Merriweather;
}
.button-primary{
border: none;
 padding: 5px;
 font-size: 1.2rem;
 color: #ebf2ff;
 background-image: linear-gradient(to right,
   #ff512f 10%,
   #f7056a 20%,
   #ff512f 50%);
 border-radius: 5px;
}
/*end global */
.navbar{
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #fff;
}
.navbar_brand{
 width: 100px;
}
.navbar_logo{
width: 100%;
}
.nav_item{
 
}
/* hero */
.container{
 width: 100%;
 margin: 0 auto;
 padding: 10px 15px;
}
.hero {
 width: 100%;
}
.hero-image{
 width: 100%;
}
.hero-image-container{
 width: 100%;
 
}
/* end hero */
@media (min-width:768px){
 .navbar{
  justify-content: space-between;
  padding: 10px 20px;
 }
 .nav_item{
  font-size: 30px;
  padding: 15px;
 }
 .navbar_brand{
  width: 180px;
  }
  /* hero */
    .hero {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
    justify-content: space-between;
    gap: 10px;
    }
    /*end  hero */
}
@media (min-width:1020px) {
 /* hero */
 .container{
  max-width: 1010px;
 }
  .hero-image-container {
   width: 500px;
   height: 500px;
  }
 
  /*end  hero */

}
@media (min-width:1400px) {
 
}